<div class="admin-expense-index-wrapper">
  <div class="container">
    <h1 class="text-center">経費一覧</h1><br>
    
    <button class="btn btn-primary"
      data-toggle="collapse"
      data-target="#collapseExample"
      aria-expanded="false"
      aria-controls="collapseExample">経費データ検索 ▼</button><br>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        
        <%= form_with scope: :search, url: admin_expenses_path, method: :get, local: true do |f| %>
          <div class="row">
            <div class="form-inline">
              <div class="form-group col-md-4">
                <%= f.label :申請日 %><br>
                <%= f.date_field :application_date_from, class: "form-control" %>〜
                <%= f.date_field :application_date_to, class: "form-control" %>
              </div>
            </div>
              
            <div class="form-group col-md-4">
              <%= f.label :申請者 %><br>
              <%= f.text_field :name, class: "form-control" %>
            </div>
            
            <div class="form-group col-md-4">
              <%= f.label :経費カテゴリ %><br>
              <%= f.collection_select :expense_category_id, ExpenseCategory.all, :id, :name, { prompt: "選択してください" }, class: "form-control" %>
            </div>
            
            <div class="form-inline">
              <div class="form-group col-md-5">
                <%= f.label :金額 %><br>
                <%= f.text_field :expense_from, class: "form-control" %>〜
                <%= f.text_field :expense_to, class: "form-control" %><p style="display:inline">円</p>
              </div>
            </div>
            
            <div class="form-group col-md-3">
              <%= f.label :申請状況 %><br>
              <%= f.radio_button :approval, :true, class: "radio-plain" %>
              <%= f.label :approval, "承認済", value: true, class: "states-label1" %>
              <%= f.radio_button :approval, :false, class: "radio-plain" %>
              <%= f.label :approval, "未承認", value: false, class: "states-label2" %>
            </div>
            
            <div class="form-group col-md-4">
              <%= f.label :並べ替え %><br>
              <%= f.select :application_date, {"申請日の新しい順": 0,"申請日の古い順": 1}, { include_blank: "選択してください" }, { class: "form-control" } %>
            </div>
              
          </div>
          <%= f.submit "検索", class: 'btn btn-secondary' %>
        <% end %>
      </div>
    </div>
      
      <table class="table table-striped table-bordered">
        <thead>
          <tr class="table-info">
            <th>No.</th>
            <th>申請日</th>
            <th>申請者</th>
            <th>経費カテゴリ</th>
            <th>金額</th>
            <th>申請状況</th>
            <th></th>
          </tr>
        </thead>
        <% @expenses.each do |expense| %>
          <tbody>
            <tr>
              <th scope="row"><%= expense.id %></th>
                <td><%= expense.application_date.to_s.gsub('-', '/') %></td>
                <td><%= expense.user.name %></td>
                <td><%= expense.expense_category.name %></td>
                <td><%= expense.expense.to_s(:delimited) %><p style="display:inline">円</p></td>
                <td>
                  <!--expense.approvalがtrue = 経費が承認済-->
                  <% if expense.approval %>
                    <p1>承認済</p1>
                    
                  <!--expense.approvalがfalse = 経費が未承認-->
                  <% else %>
                    <p2>未承認</p2>
                  <% end %>
                </td>
                <td>
                  <%= button_to "詳細", admin_expense_path(expense), method: :get %>
                </td>
            </tr>
          </tbody>
        <% end %>
      </table>
     <%= paginate @expenses %>
  </div>
</div>