<div class="category-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 category-new-container">
        
        <!--URLを指定-->
        <%= form_with model: @expense_category, url: admin_expense_categories_path, local: true do |f| %>
          
          <!--バリデーションエラーメッセージの表示-->
          <%= render 'layouts/error_messages', model: f.object %>
          <h1 class="text-center text-dark">経費カテゴリ登録</h1><br>
          
            <div class="form-group">
              <%= f.label :経費名称, class: 'text-dark' %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
            
            <%= f.submit "登録", class: 'btn btn-block btn-info' %>
          <% end %>
      </div>
    </div>
  </div>
</div>