<div class="expense-detail-wrapper">
  <div class="container">
    <div class="row">
      <h1 class="text-center">経費詳細</h1><br>
      
      <!--ユーザ情報-->
      <table class="user table table-striped table-bordered">
        <thead>
          <tr class="table-info">
            <th>ユーザNo.</th>
            <th>申請者</th>
          </tr>
        </thead>
        <tbody>
          <th scope="row"><%= @expense.user.id %></th>
            <td><%= @expense.user.name %></td>
        </tbody>
      </table>
      
      <!--申請状況-->
      <table class="approval table table-striped table-bordered">
        <thead>
          <tr class="table-info">
            <th>申請状況</th>
          </tr>
        </thead>
        <tbody>
          <td scope="row">
            <!--@expense.approvalがtrue = 経費が承認済-->
            <% if @expense.approval %>
              <p1>承認済</p1>
                  
            <!--@expense.approvalがfalse = 経費が未承認-->
            <% else %>
              <p2>未承認</p2>
            <% end %>
          </td>
        </tbody>
      </table>
      
<<<<<<< HEAD
      <!--経費詳細-->
      <table class="table table-striped table-bordered">
=======
        <table class="table table-striped table-bordered">
>>>>>>> d926432bfbba29bad36146db402459f522821798
        <thead>
          <tr class="table-info">
            <th>申請No.</th>
            <th>申請日</th>
            <th>経費カテゴリ</th>
            <th>経費詳細</th>
            <th>金額</th>
            <th>添付ファイル</th>
            <th></th>
          </tr>
        </thead>
        
        <tbody>
          <tr>
            <th scope="row"><%= @expense.id %></th>
              <td><%= @expense.application_date %></td>
              <td><%= @expense.expense_category.name %></td>
              <td><%= @expense.expense_detail %></td>
              <td><%= @expense.expense.to_s(:delimited) %><p style="display:inline">円</p></td>
              <td>
                <% if @expense.attached_file.attached? %> <!--添付ファイルがある場合アイコンを押すとリンクに飛ぶ-->
                  <%= link_to @expense.attached_file do %>
                  <%= image_tag "icons/attached_file.png" %>
                  <% end %>
                <% end %> 
              </td>
              <td>
                <%= link_to "編集", edit_expense_path(@expense) %>
                <%= link_to "削除", expense_path, method: :delete, data: 
                  { confirm: "削除してよろしいですか？",
                    commit: "削除",
                    cancel: "キャンセル" }, title: "削除の確認" %>
              </td>
          </tr>
        </tbody>
        
      </table>
    </div>
  </div>
</div>